@page "{id:min(1)}"
@model IISC.Web.Pages.Garage.Maintain.OverrideModel
@{
    ViewData["Title"] = "Maintenance Status Override";
}

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header" id="top">
                    <h2 class="pageheader-title">@ViewData["Title"] </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                                <li class="breadcrumb-item"><a asp-page="/Garage/Index" class="breadcrumb-link">Garage Management System</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <form method="post">
                    <div class="card">
                        <h5 class="card-header">Status Override</h5>
                        <div class="card-body border-top">
                            <input hidden asp-for="@Model.AssetId" />
                            <input hidden asp-for="@Model.RegNo" />
                            <div class="alert alert-primary" role="alert">
                                <h4 class="alert-heading">Are you sure you want to override the current maintenance for asset # <strong>@Model.RegNo</strong>?</h4>
                                <p></p>
                                <hr>
                                <p class="mb-0">
                                    <ul>
                                        <li>This process will make the asset available for use.</li>
                                        <li>If a new breakdown or schedule maintenance is log the asset will be flagged unavailable</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-2 float-left">
                                <a asp-page="/Garage/Asset/Index" class="btn btn-outline-dark">Cancel</a>
                            </div>
                            <div class="row mt-2 float-right">
                                <button type="submit" class="btn btn-outline-success">Override Now!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>