@page "{id:min(1)}"
@model IISC.Web.Pages.Garage.Maintain.UnplannedModel
@{
    ViewData["Title"] = "Unplanned Maintenance";
}

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header" id="top">
                    <h2 class="pageheader-title">@ViewData["Title"] </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                                <li class="breadcrumb-item"><a asp-page="/Garage/Index" class="breadcrumb-link">Garage Management System</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <form method="post">
            <div class="row">
                <!-- ============================================================== -->
                <!-- profile -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                    <!-- card profile -->
                    <div class="card">
                        <div class="card-body">
                            <div class="user-avatar text-center d-block">
                                <img src="/assets/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                            </div>
                            <div class="text-center">
                                <h2 class="font-24 mb-0">Reg No: @Model.AssetDetail.RegNo</h2>
                                <p>Status: @Model.AssetDetail.Status</p>
                                <input hidden asp-for="@Model.AssetDetail.ID" />
                                <input hidden asp-for="@Model.AssetDetail.RegNo" />
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Asset Information</h3>
                            <div class="">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><i class="fas fa-fw fa-info mr-2"></i>Engine #: @Model.AssetDetail.EngineNo</li>
                                    <li class="mb-2"><i class="fas fa-fw fa-info mr-2"></i>Make: @Model.AssetDetail.MakeName</li>
                                    <li class="mb-2"><i class="fas fa-fw fa-info mr-2"></i>Model: @Model.AssetDetail.ModelName</li>
                                    <li class="mb-2"><i class="fas fa-fw fa-info mr-2"></i>Engine Capacity: @Model.AssetDetail.EngineCapacity</li>
                                    <li class="mb-2"><i class="fas fa-fw fa-info mr-2"></i>Fuel Type: @Model.AssetDetail.FuelName</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Service History</h3>
                            <div class="">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><i class="fas fa-fw fa-info mr-2"></i>Current Mileage: @Model.AssetDetail.CurrentMileage</li>
                                    <li class="mb-2"><i class="fas fa-fw fa-info mr-2"></i>Last Service: @Model.AssetDetail.LastServiceDate.ToShortDateString()</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end card profile -->
                </div>
                <!-- end profile -->
                <!-- campaign data -->
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
                    <!-- campaign tab one -->
                    <div class="influence-profile-content pills-regular">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="mb-1">0</h1>
                                                <p>Total Breakdowns</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="mb-1">0</h1>
                                                <p>Total Planned Service</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="mb-1">0</h1>
                                                <p>Active Breakdowns</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="mb-1">0</h1>
                                                <p>Active Service</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-campaign-tab" data-toggle="pill" href="#pills-campaign" role="tab" aria-controls="pills-campaign" aria-selected="true">Add Breakdown Maintenance</a>
                                    </li>
                                </ul>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="HdrMaintenance.MaintenanceType">Maintenance Type</label>
                                                <select asp-for="HdrMaintenance.MaintenanceType" class="form-control" asp-items="@Model.TypeList.Where(x => x.Value == "1")">
                                                    @*<option value="0">Choose One</option>*@
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="HdrMaintenance.BreakdownDate">Breakdown Date</label>
                                                <input asp-for="HdrMaintenance.BreakdownDate" class="form-control" placeholder="Select date" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="HdrMaintenance.CurrentMileage">Current Mileage</label>
                                                <input asp-for="HdrMaintenance.CurrentMileage" class="form-control" placeholder="Enter current mileage" />
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label asp-for="HdrMaintenance.DateTimeIn">Date/Time In</label>
                                                <input asp-for="HdrMaintenance.DateTimeIn" class="form-control" placeholder="Select date and time in the garage" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <label asp-for="HdrMaintenance.MaintenanceSummary">Breakdown Summary</label>
                                                <textarea asp-for="HdrMaintenance.MaintenanceSummary" rows="3" class="form-control" text-wrap:normal" type="text" placeholder="Enter breakdown summary">
                                    </textarea>
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="HdrMaintenance.MaintenanceSummary" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row mt-2 float-left">
                                            <a asp-page="/Garage/Spares/SparesList" class="btn btn-outline-dark">Cancel</a>
                                        </div>
                                        <div class="row mt-2 float-right">
                                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                                        </div>
                                    </div>
                                    @*@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
                                        {
                                            <div class="card-footer">
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <strong>@ViewData.ModelState["Error"].Errors.First().ErrorMessage</strong>
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </a>
                                                </div>
                                            </div>
                                        }*@
                                </div>


                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered first">
                                                <thead>
                                                    <tr>
                                                        <th>Action</th>
                                                        <th>#</th>
                                                        <th>Type</th>
                                                        <th>Summary</th>
                                                        <th>Breakdown Date</th>
                                                        <th>Mileage</th>
                                                        <th>Date Out</th>
                                                        <th>Status</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.HdrMaintenanceList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (@item.StatusID == 0)
                                                                {
                                                                    <a title="Add parts to a breakdown" asp-page="/Garage/Maintain/AddParts" asp-route-ID="@item.ID">
                                                                        Add Parts |
                                                                    </a>

                                                                    <a title="Close/Complete maintenace" asp-page="/Garage/Maintain/Complete" asp-route-ID="@item.ID">
                                                                        Complete
                                                                    </a>
                                                                    if (item.MaintenanceType == 2)
                                                                    {
                                                                        <a title="Maintenance Work Order" asp-page="/Garage/Maintain/WorkOrder" asp-route-ID="@item.ID">
                                                                            | WO
                                                                        </a>
                                                                    }
                                                                }

                                                            </td>
                                                            <td>@item.ID</td>
                                                            <td>@item.MaintenanceName</td>
                                                            <td>@item.MaintenanceSummary</td>
                                                            <td>@item.BreakdownDate.ToLongDateString()</td>
                                                            <td>@item.CurrentMileage</td>
                                                            <td>@if (@item.DateClosed.HasValue) { @item.DateClosed.Value.ToLongDateString(); } else {  } </td>
                                                            <td>
                                                                @if (@item.StatusID == 1)
                                                                {
                                                                    <span class="badge-dot badge-success mr-1"></span>@item.TransStatus
                                                                }
                                                                else if (@item.StatusID == 0)
                                                                {
                                                                    <span class="badge-dot badge-brand mr-1"></span>@item.TransStatus
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge-dot badge-danger mr-1"></span>@item.TransStatus
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end campaign tab one -->
                </div>
                <!-- end campaign data -->
            </div>
        </form>

    </div>
</div>