@page "{id:min(1)}"
@model IISC.Web.Pages.Garage.Routines.SetupLogSheetTriggerModel
@{
    ViewData["Title"] = "Setup LogSheet";
}

<div class="row">
    <div class="col-xl-10">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header" id="top">
                    <h2 class="pageheader-title">@ViewData["Title"] </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                                <li class="breadcrumb-item"><a asp-page="/Garage/Index" class="breadcrumb-link">Settings</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">New Trigger</div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group row">
                                <label asp-for="ManageLogSheet.CategoryID" class="col-sm-3 col-form-label">Category</label>
                                <div class="col-sm-9">
                                    <select asp-for="ManageLogSheet.CategoryID" class="form-control" asp-items="@Model.CategoryList">
                                        <option value="">Choose One</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ManageLogSheet.LogSheetTypeID" class="col-sm-3 col-form-label">LogSheet Type</label>
                                <div class="col-sm-9">
                                    <select asp-for="ManageLogSheet.LogSheetTypeID" class="form-control" asp-items="@Model.TriggerList">
                                        <option value="">Choose One</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ManageLogSheet.TriggerFrequency" class="col-sm-3 col-form-label">Frequency</label>
                                <div class="col-sm-9">
                                    <select asp-for="ManageLogSheet.TriggerFrequency" class="form-control" asp-items="@Model.FrequencyList">
                                        <option value="">Choose One</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2 float-left">
                                <a asp-page="/Garage/Routines/SetupTrigger" class="btn btn-outline-dark">Back</a>
                            </div>
                            <div class="row mt-2 float-right">
                                <button type="submit" class="btn btn-outline-primary">Add Trigger</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-sm-6">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header bg-light">Maintenance Trigger List</div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Trigger</th>
                                    <th scope="col">Frequency</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Created On</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.LogSheetSetupList != null)
                                {
                                    foreach (var item in Model.LogSheetSetupList)
                                    {
                                        <tr>
                                            <th scope="row">@item.ID</th>
                                            <td>@item.CategoryName</td>
                                            <td>@item.TriggerName</td>
                                            <td>@item.FrequencyName</td>
                                            <td>@item.TriggerTime</td>
                                            <td>@item.CreatedOn</td>
                                            <td>
                                                <a title="Edit Logsheet" asp-page="/Garage/Routines/EditMaintenanceTrigger" asp-route-ID="@item.ID"
                                                   class="btn btn-sm btn-outline-primary m-1">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                |
                                                <a title="Schedule Logsheet" asp-page="/Garage/Routines/SetupLogSheetTrigger" asp-route-ID="@item.ID"
                                                   class="btn btn-sm btn-outline-danger m-1">
                                                    <i class="fa fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a asp-page="/Index" class="btn btn-outline-dark float-right">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- sidenavbar -->
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
        <div class="sidebar-nav-fixed">
            <ul class="list-unstyled">
                <li><a href="#overview" class="active">Overview</a></li>
                <li><a href="#top">Back to Top</a></li>
            </ul>
        </div>
    </div>
    <!-- end sidenavbar -->
</div>