@page
@model IISC.Web.Pages.Garage.Asset.IndexModel
@{
    ViewData["Title"] = "Asset Catalogue";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">@ViewData["Title"] </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                        <li class="breadcrumb-item"><a asp-page="/Garage/Index" class="breadcrumb-link">Garage Management System</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">@ViewData["Title"]</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Reg No</th>
                                <th>Mileage</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Fuel</th>
                                <th>Year</th>
                                <th>Created On</th>
                                <th>Status</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AssetCatalogueList)
                            {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.AssetType</td>
                                <td>@item.CategoryName</td>
                                <td>@item.RegNo</td>
                                <td>@item.CurrentMileage</td>
                                <td>@item.MakeName</td>
                                <td>@item.ModelName</td>
                                <td>@item.FuelName</td>
                                <td>@item.Year</td>
                                <td>@item.CreatedOn.Value.ToShortDateString()</td>
                                <td>
                                    @if (@item.StatusID == 1)
                                    {
                                        <span class="badge-dot badge-success mr-1"></span>@item.Status
                                    }
                                    else if (@item.StatusID == 2)
                                    {
                                        <span class="badge-dot badge-brand mr-1"></span>@item.Status
                                    }
                                    else
                                    {
                                        <span class="badge-dot badge-danger mr-1"></span>@item.Status
                                    }
                                </td>
                                <td>
                                    <a title="View asset details" asp-page="/Garage/Asset/View" asp-route-ID="@item.ID">
                                        View
                                    </a>
                                    |
                                    <a title="View asset details" asp-page="/Garage/Maintain/Unplanned" asp-route-ID="@item.ID">Breakdown
                                    </a>

                                    @*<a asp-page="/Garage/Asset/View/" asp-route-ID="@item.ID" alt="View asset details">View</a>*@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

