@page
@model IISC.Web.Pages.Garage.IndexModel
@{
    ViewData["Title"] = "Garage Management System";
}

<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header" id="top">
                    <h2 class="pageheader-title">@ViewData["Title"] </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                @foreach (var item in Model.SystemAreaList)
                {
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header bg-dark text-white text-center">@item.Title</div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img src=@item.ImagePath alt=@item.Title class="rounded-circle bg-light" />
                                </div>
                                <p class="card-text text-center">@item.Description.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="@($"/{item.ModuleName}/{item.PageUrl}")" class="btn btn-outline-dark">@item.Title</a>
                            </div>
                        </div>

                        <br />

                    </div>
                }
        </div>
    </div>
</div>